button:hover{
	background-color: #EF6461;

}

button{
	border:1px solid #EF6461;
}

input[type='checkbox']{

 outline: 1px solid #EF6461;
}

input[type='checkbox']:checked {
	
	color:#fff;

	background-color: #EF6461;
}